@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
body * {
  @apply transition-colors duration-700;
}

.navlist {
  @apply mt-2 mb-4 flex flex-col gap-2 
      lg:py-0 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6
      [&>*]:text-base [&>*]:capitalize [&>*]:p-3 [&>*]:font-normal;
}
