@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
body * {
  @apply transition-colors duration-700;
}

.navlist {
  @apply flex flex-col gap-2 
      py-0 mb-0 mt-0 lg:flex-row lg:items-center lg:gap-6
      [&>*]:[&>*]:text-base [&>*]:[&>*]:capitalize [&>*]:[&>*]:p-3 [&>*]:[&>*]:font-normal;
}

.slide-transition {
  transform: translateX(900px) 5s;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 12px;
  background: gray;
}
